#admin_page body {
	margin: 0 !important;
	padding: 0;
	font-family: Arial, sans-serif;
    background:#8aa1d5

}

#admin_page header {
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	background-color: black;
	color: #fff;
	padding: 20px;
	
	
}



#admin_page nav ul {
	position: fixed;
    list-style: none;
    right: 20px;
    top:30px;
    padding: 0;
    display: flex;
}

#admin_page nav ul li {
	margin-right: 20px;
}

#admin_page nav ul li a {
	color: #fff;
	text-decoration: none;
}

#admin_page nav ul li a:hover {
	color: #ccc;
}

#admin_page main{
	position: fixed;
	left:50px;
	top:160px;
	
}

#admin_page footer {
	position: fixed;
	left:0;
	bottom: 0;
	right: 0;
	background-color: #002463;
	color: #fff;
	padding: 10px;
	text-align: center;
	width: 205vh;
	
}
