.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cart {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tfoot td {
  text-align: right;
}
