#cust body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background:#8aa1d5

}

#cust header {
	position: fixed;
	top:0;
	right:0;
	left:0;
	background-color: black;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:  20px;
}

#cust nav ul {
	position: fixed;
    list-style: none;
    right: 20px;
    top:30px;
    padding: 0;
    display: flex;
}

#cust nav ul li {
	margin-right: 20px;
}

#cust nav ul li a {
	color: #fff;
	text-decoration: none;
}

#cust  nav ul li a:hover {
	color: #ccc;
}

#cust  main {
	margin: 20px;
}

#cust h1, h2 {
	margin-top: 0;
}

#cust footer {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background-color: #002463;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
}

#cust .customer-table-container {
	position:fixed;
    right:100px;
    top: 150px;
    border-collapse: collapse;
    width: 100%;
    left: 0;
}

#cust table {
	border-collapse: collapse;
	width: 100%;
}

#cust th,
td {
	text-align: left;
	padding: 8px;
}

#cust th {
	background-color: #002463;
	color: white;
}

#cust tr:nth-child(even) {
	background-color: #bdc9f5;
}

#cust ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#cust li {
	margin-bottom: 10px;
}

#cust .customer-table-container td ul li:before {
	content: "- ";
}
