#dashboard body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    background:#8aa1d5

}

#dashboard header {
	position: fixed;
	top:0;
	left:0;
	right:0;
	background-color: black;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding:  20px;
}
#dashboard header nav ul {
    position: fixed;
    list-style: none;
    right: 20px;
    top:30px;
    padding: 0;
    display: flex;

    }
    
#dashboard header nav li {
    margin-left: 20px;
    
}
    
    
#dashboard header nav li a {
    color: #fff;
    text-decoration: none;
    }
    

    
#dashboard   h2 {
    position: fixed;
    top: 100px;
    left:700px;
    }
    
#dashboard     canvas {
    max-width: 800px;
    margin-bottom: 20px;
    }
    
#dashboard     table {
    position:fixed;
    right:100px;
    top: 150px;
    border-collapse: collapse;
    width: 100%;
    left: 0;
   
    
    }
    
#dashboard    th, td {
    padding: 10px;
    text-align: left;
    }
    
#dashboard    th {
    background-color: #333;
    color: #fff;
    }
    
#dashboard     tr:nth-child(even) {
    background-color: #bdc9f5;
    }
#dashboard    tr:hover {
    background-color: #ddd;
    }
    
#dashboard     footer {
    position: fixed;
	left:0;
    background-color: #002463;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    }