body {
  background-image: linear-gradient(135deg, #8aa1d5 10%, #051bf4 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.box-form {
  margin: auto auto;
  width: 80%;
  background: #FFFFFF;
  border-radius: 10px;
 
  display: flex;
  flex: wrap;
  
  box-shadow: 0 0 20px 6px #090b6f85;
  height: 100%;
  min-height: 650px;
  
}

@media (max-width: 980px) {
  .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
      width: 100%;
      min-height: unset;
  }
}

.box-form div {
  height: auto;
  width: 100%;
}

.box-form .left {
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.zarla.com/images/zarla-goodforall-1x1-2400x2400-20210702-c8f4kr9dhmxbmftj6m4k.png?crop=1:1,smart&width=250&dpr=2");
  overflow: hidden;
  background-size: 650px;
  width: 50%;
}

@media (max-width: 980px) {
  .box-form .left {
      width: 100%;
      margin-bottom: 20px;
  }
}

.box-form .left .overlay {
  padding: 5vw;
  width: 100%;
  height: 100%;
  background: #5961f9ad;
  overflow: hidden;
  box-sizing: border-box;
}

.box-form .left .overlay h1 {
  font-size: 10vw;
  line-height: 1;
  font-weight: 900;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.box-form .left .overlay nav p {
  margin-top: 6vh;
  font-weight: 900;
}

.box-form .left .overlay nav a {
  text-align: center;
  background: #000308;
  color: #FFFFFF;
  margin: 5vh 3vw 2vh;
  padding: 3vh 10vw;
  border-radius: 150px;
  display: inline-block;
  box-shadow: 0 4px 7px 2px #042d46;
  text-decoration: none;
  font-size: calc(0.7vw + 0.7vh + 0.4vmin);
}

.box-form .left .overlay nav a:hover {
  color: rgb(211, 182, 110);
}

.box-form .right {
  padding: 5vw;
  overflow: hidden;
  width: 50%;
}

@media (max-width: 980px) {
  .box-form .right {
      width: 100%;
  }
}

.box-form .right h5 {
  font-size: 6vw;
  line-height: 2.4;
}

.box-form .right p {
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
  color: #B0B3B9;
  margin-top: 2vh;
  margin-bottom: 2vh;
  line-height: 1.4;
}

.box-form .right .inputs {
  overflow: hidden;
  }
  
  .box-form .right input {
  width: 100%;
  padding: calc(1.5vh + 1vw);
  margin-top: 4vh;
  font-size: calc(0.7vw + 0.7vh + 0.4vmin);
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
  }
  
  .box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  }
  
  .box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 2vw;
  width: auto;
  }
  
  .box-form .right button {
  float: right;
  color: #fff;
  font-size: calc(0.7vw + 0.7vh + 0.4vmin);
  padding: 2.5vh 8vw;
  border-radius: 50px;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,.7);
  background-image: linear-gradient(135deg, #3254a4 10%, #041bf4 100%);
  }
  
  .box-form .right button:hover {
  background-image: linear-gradient(135deg, #4a1fe4 10%, #0943e2 100%);
  }
  
  label {
  display: block;
  position: relative;
  margin-left: 3vw;
  }
  
  label::before {
  content: ' \f00c';
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  border: 3px solid #3254a4;
  border-radius: 4px;
  color: transparent;
  left: -3vw;
  transition: all 0.2s linear;
  }
  
  label:hover::before {
  font-family: Arial, Helvetica, sans-serif;
  content: ' \f00c';
  color: #fff;
  cursor: pointer;
  background: #3254a4;
  }
  
  label:hover::before .text-checkbox {
  background: #041bf4;
  }
  
  label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
  }
  
  label input[type="checkbox"] {
  display: none;
  }
