#prod_admin body {
	font-family: Arial, sans-serif;
	margin: 0;
    background:#8aa1d5;

}

#prod_admin header {
	position: fixed;
	top:0;
	left:0;
	right:0;
	background-color: black;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding:  20px;
	
}



#prod_admin nav ul {
	position: fixed;
    list-style: none;
    right: 20px;
    top:30px;
    padding: 0;
    display: flex;
}

#prod_admin nav li {
	margin-left: 20px;
}

#prod_admin nav li:first-child {
	margin-left: 0;
}

#prod_admin nav a {
	color: #fff;
	text-decoration: none;
}

#prod_admin nav a:hover {
	text-decoration: underline;
}

#prod_admin main {
	padding: 20px;
}

#prod_admin footer {
	
	background-color: #002463;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
}


#prod_admin .product-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 80px 0;
}

#prod_admin .product-tile {
	flex-basis: calc(33.33% - 20px);
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #f2f2f2;
	padding: 20px;
}

#prod_admin .product-tile:last-child {
	margin-right: 0;
}

#prod_admin .product-tile img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

#prod_admin .product-tile h3 {
	margin: 0;
}

#prod_admin .product-tile p {
	margin-top: 10px;
	font-weight: bold;
}



@media screen and (max-width: 768px) {
	.product-tile {
		flex-basis: calc(50% - 20px);
	}
}
